[user]
	name = worldask
	email = worldask@gmail.com
[color]
	ui = true
[push]
	default = simple
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	graph = log --pretty=format:\"%h %s\" --graph
	one = log -10 --oneline
    bv = branch -v
	co = checkout
    c = commit -m
    s = status
    a = add .
[credential]
	helper = osxkeychain
