[core]
	autocrlf = false
	safecrlf = true
    editor = vim
	excludesfile = $HOME/.gitignore
[push]
	default = simple
[user]
	name = 
	email = 
[color]
    ui = true
[merge]
    tool = vimdiff
[alias]
    graph = log --pretty=format:\"%h %s\" --graph
    one = log -10 --oneline
    bv = branch -v
    co = checkout
    c = commit -m
    s = status
    a = add .
    pull = pull --ff-only
[credential]
    helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
